@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1,
  h2 {
    @apply text-white;
  }
  h2 {
    @apply text-lg;
  }
  p {
    @apply text-white;
  }
  span {
    @apply text-gray-300 text-sm;
  }
  html {
    @apply bg-[#282B30];
  }
}

@layer components {
  .tag {
    color: theme('colors.gray-300');
  }
  .checkbox {
    padding: theme('padding.6');
  }
  .cardtags {
    background-color: theme('backgroundColor.gray-200');
    width: fit-content;
    border-radius: 8px;
    display: flex;
    align-items: center;
  }
}
